body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.all-contrast{
  filter: grayscale(1);
}

/*slideHeader*/
.divOpacity{
  background: rgba(11, 11, 11, 0.43);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: self-start;
  width: 100%;
  min-height: 85vh;
  padding: 0 0 0 10%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.divText{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: self-start;
}
.slideH1{
  color: #fd5d14;
  font-size: 4rem;
  width: 60%;
  text-transform: uppercase;
  opacity: 0.7;
}
@media(max-width: 1135px){
  .slideH1{
    font-size: 6vw;
  }
}
.slideP{
  color: #FFFFFF;
  font-size: 18px;
  width: 70%;
  max-height: 105px;
  overflow: hidden;
  z-index: 11;
}
.slideP p{
  color: #fff!important;
}
.h1Span{
  color: #fd5d14;
}

/*slideOurCategory*/
.slidesTexts{
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: self-start;
  transition: .2s ease-out;
}
.slidesTextsChild{
  background: linear-gradient(to bottom,transparent,#000);
  padding: 0 10px 60px 20px;
  width: 100%;
}
.slidesTexts h5:before{
  content:'';
  background-color: #fd5d14;
  width: 60px;
  height: 3px;
  display: block;
  margin-bottom: 5px;
}
.ourCategorySlideH5{
  text-transform: uppercase;
  transform: translateY(20px) translateZ(0);
  transition: all .3s cubic-bezier(.77,0,.175,1);
}
.slidesTexts:hover{
  transform: scale(1.08, 1.08);
}
.slidesTexts:hover .ourCategorySlideH5{
  transform: translateY(0) ;
}
.ourCategorySlideP{
  opacity: 0;
  transform: translateY(20px) translateZ(0);
  transition: all .6s cubic-bezier(.77,0,.175,1);
}
.slidesTexts:hover .ourCategorySlideP{
  transform: translateY(0);
  opacity: 1;
}

/*slideBlock*/
.sliderBlockContainer{
  position: relative;
  padding: 0 10px;
}
.sliderBlockContainerChild{
  position: relative;
  border-radius: 3px;
  box-shadow: 0px 0px 5px rgba(0 0 0 0.05);
  transition: 0.3s;
  background: #FFFFFF;
}
.sliderBlockContainer:hover .sliderBlockContainerChild{
  box-shadow: 0px 10px 20px rgba(0 0 0 0.1);
}
.slidesOurBlockImgBox{
  overflow: hidden;
}
.slidesOurBlockImg{
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 250px;
  transition: .5s ease;
}
.sliderBlockContainerChild:hover .slidesOurBlockImg{
  transform: scale(1.08, 1.08);
}
/*.post-video{*/
/*  position: absolute;*/
/*  top: 30%;*/
/*  left: 0;*/
/*  right: 0;*/
/*  transform: translate(0%, -50%);*/
/*  justify-content: center;*/
/*  display: flex;*/
/*}*/
.post-date{
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  z-index: 1;
}
.post-data-a{
  display: inline-block;
  padding: 8px 15px;
  line-height: 10px;
  font-size: 14px;
  background-color: #fd5d14;
  color: #fff;
  float: right;
  position: relative;
}
.cats{
  position: absolute;
  margin-top: -20px;
  margin-left: 20px;
  background: #00a5e0;
  margin-bottom: 15px;
  padding: 5px 10px;
  width: fit-content;
  z-index: 1;
}
.cats-office{
  color: #fff;
  font-size: 16px;
  position: relative;
}

/*.cats-office:after{*/
/*  content:'/';*/
/*  margin: 0 5px;*/
/*  position: relative;*/
/*  top: 1px;*/
/*}*/
.cats-rent{
  color: #fff;
  font-size: 16px;
  position: relative;
}
.post-title-parent{
  padding: 20px;
  height: 250px;
  overflow: hidden;
}
.post-title{
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.blog-footer-meta{
  border-top: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.post-author{
  display: flex;
  align-items: center;
}
.author-img{
  margin-right: 15px;
}
.link-btn{
  text-decoration: underline;
  text-transform: uppercase;
}
.slick-prev{
  z-index: 10;
}
@media (max-width: 1462px){
  .slick-prev{
    z-index: 0;
  }
}
.slick-prev:before, .slick-next:before{
  color:#fd5d14 !important;
  font-size: 40px !important;
}
/*footer*/
.phoneContact li{
  font-size: 14px;
  margin-bottom: 10px;
}
/*BlogPagesCom*/
.nameOfHead{
  font-weight: 600;
  font-size: 22px;
}
@media (max-width: 991px) {
  .contCardText{
    margin-top: 40px;
  }
}
.headStaffCard{
  transition: 1s ease-out;
  box-shadow: 0 2px 4px rgba(124, 138, 151, 0.3);
}
.headStaffCard:last-child{
  margin-bottom: 50px;
}
.headStaffCard:hover{
  box-shadow: 0 4px 16px #808b96;
}
.cardLine{
  border-top: 2px solid #eee;
  margin-top: 25px;
  padding: 20px 0;
}
.cardDetail{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.cardParagh{
  font-size: 16px;
  color: #7c8a97;
  margin: 0;
  font-family: sans-serif;
}
.cardSpan{
  color: #111111;
  margin-left: 15px;
  font-size: 16px;
}
/*titlePage*/
.titlePage{
  text-transform: lowercase;
}
.textDecorate{
  border-bottom: 2px solid #fd5d14;
  background: #fff;
  padding: 0 20px;
}
.pageImgPar{
  overflow: hidden;
  width: 100%;
  height: 450px;
  margin-bottom: 20px;
}
.pageImg{
  width: 100% !important;
  height: 450px;
  object-fit: cover;
  object-position: center;
  transition: all 0.5s ease !important;
}
.pageImg:hover{
  transform: scale(1.08, 1.08);
}
.post-data-blogs-a{
  display: inline-block;
  padding: 15px;
  line-height: 10px;
  font-size: 14px;
  position: relative;
  background-color: #fd5d14;
  color: #fff;
  float: right;
}
.post-data-blogs-a::after{
  position:absolute;
  content: '';
  display: block;
  right: 100%;
  top: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid;
  border-left-color: #fd5d14;
  border-right-color: #fd5d14;
}
/* blogsPage */
.blogsImagePar{
  width: 100%;
  height: 250px;
  overflow: hidden;
}
.blogsImage{
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center;
  border-radius: 0;
  transition: all 0.5s ease !important;
}
.blogsCard:hover .blogsImage{
  transform: scale(1.08, 1.08);
}
.blogsBody{
  width: 100%;
  height: 250px;
  overflow: hidden;
  margin-top: 20px;
}
.blogsCard{
  box-shadow: 0 1px 2px #898f96;
  transition: 0.3s ease-in;
  border: none;
  margin-bottom: 30px;
  border-radius: 0;
  position: relative;
}
.blogsCard:hover{
  box-shadow: 0 2px 8px #7c8a97;
}
@media (max-width:576px){
  .blogsCard{
    margin: 0 3% 30px 3%;
  }
}
.blogCats{
  position: absolute;
  top: 250px;
  margin-top: -20px;
  margin-left: 20px;
  background: #00a5e0;
  margin-bottom: 15px;
  padding: 5px 10px;
  width: fit-content;
  z-index: 1;
}
@media (max-width: 992px) {
  .navigation{
    flex-direction: column;
    justify-content: start;
  }
  .openNavChild{
    display: block!important;
   }
}
.titleLogo{
  position: absolute;
  width: 100%;
  top: 10%;
  right: 50%;
  transform: translateX(50%);
  /*opacity: 0.7;*/
  padding: 0 2%;
  text-align: center;
  letter-spacing: 5px;
  color: #FFFFFF;
  font-weight: 700;
}
@media(max-width:1135px){
  .titleLogo{
    font-size: 6vw;
  }
}

/* Navbar */
.up-navbar{
  animation-name: up-nav;
  animation-duration: 0.3s;
}
@keyframes up-nav {
  from{
    transform: translateY(-100%);
    opacity: 0;
  }
  to{
    transform: translateY(0%);
    opacity: 1;
  }
}

/* Contrast */
.containerContrast{
  width: 100%;
  position: relative;
  min-height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.containerInside{
  position: relative;
  width: 80%;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  animation-name: down-contrast;
  animation-duration: 0.3s;
}
@keyframes down-contrast {
  from{
    transform: translateY(-100%);
    opacity: 0;
  }
  to{
    transform: translateY(0%);
    opacity: 1;
  }
}
.boxContrast{
  position: relative;
  width: 100%;
  display: flex;
  box-sizing: border-box;
}
.box-contrast:last-child{
  margin-left: 5%;
}
.btn-contrast{
  border: 1px solid #555555;
  width: 150px;
  height: 50px;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s ease-out;
  color: #555555;
}
.box-btn{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.btn-contrast:last-child{
  margin-left: 10px;
  width: 200px;
}
.btn-font-size{
  border: 1px solid #555555;
  font-weight: 500;
  font-size: 16px;
  height: 50px;
  width: 150px;
  color: #555555;
  transition: .3s ease-out;
}
.btn-font-size:nth-child(2){
  margin-left: 10px;
  font-size: 20px;
  font-weight: 600;
}
.btn-font-size:nth-child(3){
  margin-left: 10px;
  font-size: 24px;
  font-weight: 700;
}
.btn-on{
  border: 1px solid #fd5d14;
  color: #FFFFFF;
  background-color: #fd5d14;
}
.btn-font-on{
  border: 1px solid #fd5d14;
  color: #FFFFFF;
  background-color: #fd5d14;
}
.btn-close{
  position: absolute;
  top: 10%;
  right: 0;
  font-size: 20px;
  cursor: pointer;
}
@media (max-width: 1100px) {
  .box-btn{
    display: flex;
    flex-direction: column;
  }
  .btn-contrast{
    width: 200px;
    margin: 0;
  }
  .btn-contrast:last-child{
    margin: 15px 0 0 0;
  }
  .btn-font-size{
    width: 200px;
  }
  .btn-font-size:nth-child(2), .btn-font-size:nth-child(3){
    margin: 5px 0 0 0;
  }
  .btn-close{
    top: 0;
  }
}
@media (max-width: 480px) {
  .boxContrast{
    flex-direction: column;
    align-items: center;
  }
  .box-contrast:last-child{
    margin: 15px 0 0 0;
  }
  .box-contrast{
    width: 100%;
  }
  .btn-contrast, .btn-contrast:last-child{
    width: 100%;
  }
  .btn-font-size{
    width: 100%;
  }
}

/* Training */
.full-training{
  width: 100%;
  min-height: 80vh;
  background: url("./images/training.jpg") no-repeat center center/cover;
}
.contentTrain{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;
}
.box-left, .box-right{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 35%;
  min-height: 289px;
}
.box-left{
  align-items: flex-end;
}
.box-right{
  align-items: flex-start;
}
.new-hire{
  text-align: right;
  width: 100%;
}
.mentored{
  width: 100%;
  text-align: left;
}
.new-hire:nth-child(2){
  transform: translateX(-25px);
}
.mentored:nth-child(2){
  transform: translateX(25px);
}
.new-hire-a, .mentored-a{
  background: #FFFFFF;
  text-decoration: none;
  border-radius: 35px;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: #333333;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.new-hire-p{
  margin: 0 10px 0 0;
  text-align: right;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 18px;
  width: 80%;
}
.mentored-p{
  margin: 0 0 0 10px;
  text-align: left;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 18px;
  width: 80%;
}
.new-hire-p-span{
  font-size: 14px;
  font-weight: 400;
  color: #505050;
}
.new-hire-a-img{
  padding: 8px 10px;
  background: #fd5d14;
  width: 104px;
  border-radius: 50px;
  text-align: right;
}
.mentored-a-img{
  padding: 8px 10px;
  background: #fd5d14;
  width: 104px;
  border-radius: 50px;
  text-align: left;
}
.box-middle{
  background: url("./images/enhance-circle-img.png") no-repeat center center/cover;
  width: 330px;
  height: 296px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-middle-p{
  width: 155px;
  font-size: 21px;
  font-weight: 700;
  color: #FFFFFF;
  text-align: center;
}
@media (max-width: 992px) {
  .box-middle{
    display: none;
  }
  .contentTrain{
    justify-content: space-evenly;
  }
}
@media (max-width: 767px) {
  .contentTrain{
    flex-direction: column;
  }
  .box-right, .box-left{
    width: 100%;
    min-height: 230px;
  }
  .box-right{
    margin: 18px 0 10% 0;
  }
  .new-hire:nth-child(2), .mentored:nth-child(2){
    transform: translateX(0);
  }
  .new-hire-a{
    position: relative;
    line-height: 18px;
    background: #FFFFFF;
    height: 65px;
  }
  .new-hire-a-img{
    position: absolute;
    left: 0;
  }
  .new-hire-p{
    position: absolute;
    left: 100px;
    text-align: left;
    margin: 0 0 0 10px;
  }

}

/* StartServiceModal  */
.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 1;
  visibility: visible;
  transition: all .3s;
}

.popup-close {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}

.popup__content {
  height: 75vh;
  width: 75%;
  background-color: #fff;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  display: flex;
  padding: 2%;
  overflow-y: auto;
  position: relative;
  opacity: 1;
  transform: scale(1);
  transition: all .5s .2s;
}

.popup__content-close {
  opacity: 0;
  transform: scale(.25);
}

.popup__right > * {
  font-size: 14px;
  color: #6c757d;
}

.popup__icon {
  position: fixed;
  top: 10px;
  right: 15px;
  font-size: 22px;
  cursor: pointer;
  color: #777;
}

.popup__bold {
  font-weight: 700;
}

@media only screen and (max-width:900px) {
  .popup__content {
    padding: 4% 3%;
  }

  .popup__icon {
    top: 5px;
    right: 10px;
    font-size: 20px;
  }
}

@media only screen and (max-width:600px) {
  .popup__content {
    padding: 4% 3%;
  }

  .popup__icon {
    top: 5px;
    right: 10px;
    font-size: 16px;
  }
}

/* StartClient */

.image__client {
  width: 80%;
  height: 450px;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 30%;
  border-bottom-left-radius: 60%;
}

/* ABOUT */

.about-link {
  cursor: pointer;
  transition: all .5s ease;
  text-decoration: underline;
  color: #fd5d14;
}

.about-link:hover {
  color: #fd5d14;
  text-decoration: none;
}

/* LABORATORY */

.title-animate {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.title-animate .p-0 {
  position: relative;
  color: #f4f4f4;
  -webkit-text-stroke: 1px #f33;
}

.title-animate .p-0::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  color: rgb(255, 51, 51);
  -webkit-text-stroke: 0px #f33;
  overflow: hidden;
  animation: animate 6s linear infinite;
}

@keyframes animate {
  0%,10%,100% {
    height: 0;
  }
  70%, 90% {
    height: 100%;
  }
}




